<div class="card">
    <div class="card-title">
        <span>Blog</span>
    </div>
    <div class="card-content">
        <p>Latest Posts: <span id="blogLoading">(Loading...)</span><br/>
        <ul id="blogUL">
        </ul>
        </p>
    </div>
    <div class="card-action">
        Site and Software updates posted here
        <span class="right"><a href="http://mikeallisononline.wordpress.com" target="_blank">Website</a></span>
    </div>
</div>
