<div id="Contact" class="card anchor-fix">
    <div class="card-title">
        Contact
    </div>
    <div class="card-content">
        <p>The simplest and safest way to contact me is through email at <a href="mailto:mike@mikeallisononline.com">mike@mikeallisononline.com</a>.</p>
    </div>
</div>