<div class="card">
    <div class="card-title">
        <span>Projects</span>
    </div>
    {{#each projects}}
        <div class="card-content">
            <h5>{{this.title}}</h5>
            {{this.description}}
        </div>
        <div class="card-action">
            {{this.categoryTitle}}
            <span class="right"><a href="Projects/{{this.url}}">Link</a></span>
        </div>
    {{/each}}
</div>

