<div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full"><i class="mdi-navigation-menu"></i></a></div>
<ul id="nav-mobile" class="side-nav fixed">
    <li class="logo grey darken-2"><a id="logo-container" href="/" class="brand-logo">
        <img class="circle" src="/images/me.jpg" style="height: 50px; margin-top: 5px;" /></a>
    </li>
    <li class="bold{{#if isHome}} active{{/if}}"><a href="/" class="waves-effect waves-black">Home</a></li>
    <li class="bold{{#if isBlog}} active{{/if}}"><a href="/blog" class="waves-effect waves-black">Blog</a></li>
    <li class="no-padding{{#if isProject}} active{{/if}}">
        <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header waves-effect waves-black{{#if isProject}} active{{/if}}">Projects</a>
                <div class="collapsible-body">
                    <ul>
                        {{#each projects}}
                            <li><a href="/Projects/{{this.url}}">{{this.title}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li class="bold{{#if isResume}} active{{/if}}"><a href="/resume" class="waves-effect waves-black">Resume</a></li>
    <li class="bold{{#if isContact}} active{{/if}}"><a href="/contact" class="waves-effect waves-black">Contact</a></li>
</ul>