<md-nav-list>
  <a md-list-item href="Profilehttps://www.linkedin.com/in/mike-allison-544601a" target="_blank" title="linked-in">
    <md-icon fontSet="fa" fontIcon="fa-linkedin-square" class="fa-2x"></md-icon>
    LinkedIn
  </a>
  <a md-list-item href="http://twitter.com/mikeallison" target="_blank" title="twitter">
    <md-icon fontSet="fa" fontIcon="fa-twitter-square" class="fa-2x"></md-icon>
    Twitter
  </a>
  <a md-list-item href="http://www.facebook.com/dj.mikeallison" target="_blank" title="facebook">
    <md-icon fontSet="fa" fontIcon="fa-facebook-square" class="fa-2x"></md-icon>
    Facebook
  </a>
  <a md-list-item href="mailto:mike@mikeallisononline.com" target="_blank" title="email">
    <md-icon fontSet="fa" fontIcon="fa-envelope" class="fa-2x"></md-icon>
    Email - mike@mikeallisononline.com
  </a>
</md-nav-list>
