<div class="container">
    <div class="card">
        <div class="card-title">
            <img src="/images/me.jpg" alt="photo" class="left circle" style="padding-top: 15px;" />
            <span class="container"><h2>&nbsp;Mike Allison</h2></span>
        </div>
        <div class="card-content">
            <p>Web Application Architect & Lead Developer</p>
        </div>
    </div>

    {{> blog }}

    {{> projects }}

    {{> resume }}

    {{> contact }}
</div>

{{#contentFor "scripts"}}
<script>
    $.getJSON("/api/WordPress").then(function (data) {
        for (var i = 0; i < data.length; i = i + 2)
        {
            $('#blogUL').append('<li><a href="' + data[i + 1] +'" target="_blank">' + data[i] + '</a></li>');
        }
        $('#blogLoading').hide();
    });
</script>
{{/contentFor}}