<div class="container">
  <div>
	  <img src="assets/images/me.jpg" alt="amazing photo of me" class="circle" />
    <h1>
      Mike Allison
    </h1>
		<h2>Web Application Architect & Lead Developer</h2>
    <h3 *ngIf="config|async">
      <i class="fa fa-circle" [class.red]="!(config|async)?.available" [class.green]="(config|async)?.available"></i>
      <span *ngIf="!(config|async)?.available; else elseBlock">Not currently</span>
      <ng-template #elseBlock>Currently</ng-template>
       available for new opportunities
    </h3>
  </div>
</div>
