<div fxLayout="row">
  <div>
    <md-list>
      <md-list-item *ngFor="let blog of blogList | async">
        <a (click)="select(blog)">{{blog.title}}</a>
      </md-list-item>
      <md-list-item>
        <a (click)="create()">Create new</a>
      </md-list-item>
    </md-list>
  </div>
  <div>
    <form fxLayout="column" fxFlexFill *ngIf="post">
      <md-slide-toggle name="enable" [(ngModel)]="post.enabled">Enable</md-slide-toggle>
      <md-input-container>
        <label for="title">Title</label>
        <input mdInput id="title" name="title" [(ngModel)]="post.title">
      </md-input-container>
      <material-datepicker [(date)]="post.date"></material-datepicker>
      <label for="content">Content</label>
      <div id="content" [froalaEditor] [(froalaModel)]="post.content"></div>
      <div>
        <button md-button (click)="cancel()">Cancel</button>
        <button md-button color="primary" (click)="save()">Save</button>
      </div>
    </form>
  </div>
</div>
