<md-tab-group (selectChange)="changeRoute($event)">
  <md-tab>
    <template md-tab-label>
      <span class="home">
        Mike Allison
      </span>
    </template>
  </md-tab>
  <md-tab>
    <template md-tab-label>
      Blog
    </template>
  </md-tab>
  <md-tab>
    <template md-tab-label>
      Projects
    </template>
  </md-tab>
  <md-tab>
    <template md-tab-label>
      Resume
    </template>
  </md-tab>
  <md-tab>
    <template md-tab-label>
      Contact
    </template>
  </md-tab>
</md-tab-group>

<div class="content">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
