div.mat-tab-header {
  background-color: #424242;
  color: #9e9e9e;
}
div.content {
  flex-direction: row;
  height: calc(100vh - 114px);
  overflow: auto !important;
  padding-left: 16px;
}
app-footer {
  height: 64px;
  display: flex;
  flex: 0;
  flex-direction: row;
  > footer {
    width: 100vw;
  }
}
