<div id="changelog">
    <a class="lead" data-toggle="collapse" data-parent="#changelog" href="#collapseOne">Changelog <i class="fa fa-angle-right" id="changelogIcon"></i></a>
    <div id="collapseOne" class="collapse">
        <blockquote>
            <p>1.0.5</p>
            <small>Initial release.</small>
        </blockquote>
    </div>
</div>
<br />

<p class="lead">Install</p>
<p><pre>(bower): bower install angular-lodash-string
</pre></p>

