<h5>Changelog</h5>
<hr>
<blockquote>
    <p>1.0.1</p>
    <small>Initial release.</small>
</blockquote>

<h5>Install</h5>
<hr>
<pre class="prettyprint">
(bower): bower install angular-tablescroll
(npm): npm install angular-tablescroll
(nuget): Install-Package angular-tablescroll
</pre>

<h5>Html</h5>
<hr>
<pre class="prettyprint">
&lt;table ng-tablescroll=&quot;options&quot;&gt;
    &lt;thead&gt;
        &lt;tr&gt;
            &lt;th&gt;Column 1&lt;/th&gt;
            &lt;th&gt;Column 2&lt;/th&gt;
            &lt;th&gt;Column 3&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;td&gt;Data 1&lt;/td&gt;
            &lt;td&gt;Data 2&lt;/td&gt;
            &lt;td&gt;Data 3&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
    &lt;tfoot&gt;
        &lt;tr&gt;
            &lt;td&gt;Foot 1&lt;/td&gt;
            &lt;td&gt;Foot 2&lt;/td&gt;
            &lt;td&gt;Foot 3&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tfoot&gt;
&lt;/table&gt;
</pre>

<h5>Javascript</h5>
<hr>
<pre class="prettyprint">
&lt;script src="angular-tablescroll.js"&gt;&lt;/script&gt;
</pre>

<h5>Options (JSON Scope Object)</h5>
<hr>
<pre class="prettyprint">
{
reactive: (bool)(optional)(default: true) enable reactive sizing to parent control
width: (int)(optional) desired max width in pixels
height: (int)(optional) desired height in pixels
backgroundcolor: (string)(optional)(default: #fffff) table header bg color
}
</pre>

<h5>Example</h5>
<hr>
<div class="row" ng-app="ngTablescrollSample">
    <div class="col s9" style="height:300px">
        <table ng-tablescroll class="striped" style="background-color: #ffffff">
            <thead>
            <tr>
                <th>Col 1</th>
                <th>Col 2</th>
                <th>Col 3</th>
                <th>Col 4</th>
                <th>Col 5</th>
                <th>Col 6</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>asdfasdfasdfafsd</td>
                <td>asdfasdfasdf</td>
                <td>asdfasdfasdfasdgv</td>
                <td>asdfasdfasdfasdgv</td>
                <td>asdfasdfasdfasdgv</td>
                <td>asdfasdfasdfasdgv</td>
            </tr>
            <tr>
                <td>asdfasdfasdfafsd</td>
                <td>asdfasdfasdf</td>
                <td>asdfasdfasdfasdgv</td>
                <td>asdfasdfasdfasdgv</td>
                <td>asdfasdfasdfasdgv</td>
                <td>asdfasdfasdfasdgv</td>
            </tr>
            <tr>
                <td>asdfasdfasdfafsd</td>
                <td>asdfasdfasdf</td>
                <td>asdfasdfasdfasdgv</td>
                <td>asdfasdfasdfasdgv</td>
                <td>asdfasdfasdfasdgv</td>
                <td>asdfasdfasdfasdgv</td>
            </tr>
            <tr>
                <td>asdfasdfasdfafsd</td>
                <td>asdfasdfasdf</td>
                <td>asdfasdfasdfasdgv</td>
                <td>asdfasdfasdfasdgv</td>
                <td>asdfasdfasdfasdgv</td>
                <td>asdfasdfasdfasdgv</td>
            </tr>
            <tr>
                <td>asdfasdfasdfafsd</td>
                <td>asdfasdfasdf</td>
                <td>asdfasdfasdfasdgv</td>
                <td>asdfasdfasdfasdgv</td>
                <td>asdfasdfasdfasdgv</td>
                <td>asdfasdfasdfasdgv</td>
            </tr>
            <tr>
                <td>asdfasdfasdfafsd</td>
                <td>asdfasdfasdf</td>
                <td>asdfasdfasdfasdgv</td>
                <td>asdfasdfasdfasdgv</td>
                <td>asdfasdfasdfasdgv</td>
                <td>asdfasdfasdfasdgv</td>
            </tr>
            <tr>
                <td>2asdfasdfasdfafsd</td>
                <td>asdfasdfasdf</td>
                <td>asdfasdfasdfasdgv</td>
                <td>asdfasdfasdfasdgv</td>
                <td>asdfasdfasdfasdgv</td>
                <td>asdfasdfasdfasdgv</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6">Footer Content</td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="col s3">
        Another Material Column
    </div>
</div>

{{#contentFor "scripts"}}
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-tablescroll/angular-tablescroll.js"></script>
{{/contentFor}}