<h5>Changelog</h5>
<hr>
<blockquote>
    <p>1.1.0</p>
    <small>npm support and angular style changes.</small>
</blockquote>
<blockquote>
    <p>1.0.5</p>
    <small>Initial release.</small>
</blockquote>

<h5>Install</h5>
<hr>
<pre class="prettyprint">(bower): bower install angular-lodash-string
(npm): npm install angular-lodash-string</pre>



{{#contentFor "scripts"}}
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
{{/contentFor}}