<h5>Source</h5>
<hr>
<p><a href="jcarousellite_1.0.2.js">jcarousellite_1.0.2.js</a></p>

<h5>Documentation</h5>
<hr>
<p>Original Documentation: <a href="http://www.gmarwaha.com/jquery/jcarousellite/?#doc" target="_blank">Link</a></p>

<h5>Example</h5>
<hr>
<div class="card">
    <div class="card-title">
        <span class="left">
            <a href="#NoAnchor" class="carouselPrev"><span class="fa fa-chevron-left"></span></a>
        </span>
        <span class="right">
            <a href="#NoAnchor" class="carouselNext"><span class="fa fa-chevron-right"></span></a>
        </span>
        <div class="center" style="width:100%">Example</div>
    </div>
    <div id="carouselOuter" class="card-content">
        <div id="carousel">
        </div>
    </div>
</div>


{{#contentFor "scripts"}}
<script src="/scripts/jcarousellite_1.0.2.js"></script>

<script>
    var CarouselPanelWidth = $('#carouselOuter').width();

    $(function() {
        LoadCarousel();
    });

    function LoadCarousel() {
        var carouselLength = (CarouselPanelWidth - 30) / 110;
        var carousel = $("#carousel");
        carousel.html("");
        carousel.append("<ul>");
        var ul = carousel.find("ul");
        for (var i = 1; i < 12; i++)
            ul.append("<li><span class=\"img-thumbnail\"><img src=\"/Images/" + i + ".jpg\" width=\"100\" height=\"100\" /></span></li>");
        carousel.append("</ul>");
        carousel.jCarouselLite({
            btnNext: ".carouselNext",
            btnPrev: ".carouselPrev",
            visible: carouselLength,
            scroll: parseInt(carouselLength),
            start: 0
        });
    }

    $(window).resize(function() {
        var previousWidth = CarouselPanelWidth;
        CarouselPanelWidth = $('#carousel').closest(".panel").width();
        if (previousWidth != CarouselPanelWidth) {
            LoadCarousel();
        }
    });

</script>
{{/contentFor}}