<div class="admin-contanier">
  <md-toolbar color="primary">
      <span fxFlex>Admin</span>
      <span *ngIf="user; else elseBlock">
        <a href="javascript:;" (click)="logout()" mdTooltip="{{user.auth.email}}">
          <img src="{{user.auth.photoURL}}" style="height: 60px" class="circle">
        </a>
      </span>
      <ng-template #elseBlock>
        <a href="javascript:;" (click)="login()">Login</a>
      </ng-template>
  </md-toolbar>
  <md-sidenav-container fxFlexFill>
    <md-sidenav mode="side" opened="true">
      <md-nav-list>
        <a md-list-item routerLink="/admin/config">Config</a>
        <a md-list-item routerLink="/admin/blog">Blog</a>
      </md-nav-list>
    </md-sidenav>
    <router-outlet></router-outlet>
  </md-sidenav-container>
</div>
