/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto","Arial",sans-serif;
}

.container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  overflow-y: visible;
  justify-content: space-around;
}


/*fix for 2x fa md-icons*/
md-icon.fa-2x {
  padding-bottom: 10px;
  padding-right: 12px;
}

.circle {
  -webkit-clip-path: circle(45% at 50% 47%);
  clip-path: circle(45% at 50% 47%);
}
