<div class="container">
  <div>
    <img src="assets/images/captain-1080-sq.jpg" alt="amazing photo of me" class="circle" />
    <h1>
      Mike Allison
    </h1>
    <h2>Web Application Architect & Lead Developer</h2>
    <h3 *ngIf="config|async">
      <fa-icon [icon]="faCircle" [class.red]="!(config|async)?.available" [class.green]="(config|async)?.available"></fa-icon>
      <span *ngIf="!(config|async)?.available; else elseBlock">Not currently</span>
      <ng-template #elseBlock>Currently</ng-template>
      available for new opportunities
    </h3>
  </div>
</div>
